*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* code here */
/* ######### navigation ########### */
nav {
    width: 100%;
    height: 100px;
    background-color: lightgray;
}

nav div {
    margin-left: 150px;
    line-height: 20px;
}

nav div a {
    padding: 20px;
    color: #333333;
    font-size: 11px;
    font-weight: 300;
    font-family: "Helvetica";
    text-transform: uppercase;
}

nav div a:hover {
    color: #000000;
}

/* ######### body 1 ########## */
.container {
    width: 100%;
    height: 100%;
    margin-top: 6px;

    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 1fr;
    grid-template-areas: ". main .";
}

.main {
    grid-area: main;
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    /* overflow: hidden; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 90px repeat(2, 25px) repeat(2, 100px) 80px;
    gap: 15px;

    grid-template-areas: 
                " b1 b2 b3 b4 "
                " b5 b2 b3 b4 "
                " b5 b6 b3 b4 "
                " b5 b6 b3 b8 "
                " b5 b6 b7 b8 "
                " b9 b6 b7 b8 "
                " b9 b10 b7 b8 ";
}

.main div {
    overflow: hidden;
}

.box-1 {
    grid-area: b1;
}

.box-2 {
    grid-area: b2;
}

.box-3 {
    grid-area: b3;
}

.box-4 {
    grid-area: b4;
}

.box-5 {
    grid-area: b5;
}

.box-6 {
    grid-area: b6;
}

.box-7 {
    grid-area: b7;
}

.box-8 {
    grid-area: b8;
}

.box-9 {
    grid-area: b9;
}

.box-10 {
    grid-area: b10;
}

.container .main img {
    width: 100%;
    background-size: contain;
}

/* ######### body 2 ########## */
.contain {
    width: 100%;
    height: 600px;
    margin-top: 6px;
    background-color: rgb(245, 245, 245);

    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 1fr;
    grid-template-areas: ". ma .";
}

.body {
    grid-area: ma;
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;

    grid-template-areas: 
                    "sec1 sec2 sec3"
                    "sec4 sec5 sec6"
                    "sec7 sec8 sec9";
}

.body > * {
    font-size: 15px;
    font-weight: 100;
    font-family: "Helvetica";
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px rgb(75, 72, 72);
}

.sec1 {
    grid-area: sec1;
    background-color: #ff006a;
}

.sec2 {
    grid-area: sec2;
    background-color: #faa307;
}

.sec3 {
    grid-area: sec3;
    background-color: #deaaff;
}

.sec4 {
    grid-area: sec4;
}

.sec5 {
    grid-area: sec5;
    background-color: #e7e739;
}

.sec6 {
    grid-area: sec6;
    background-color: #16db93;
}

.sec7 {
    grid-area: sec7;
}

.sec8 {
    grid-area: sec8;
}

.sec9 {
    grid-area: sec9;
    background-color: #c1d3fe;
}

/* ########## footer ########## */
footer {
    width: 100%;
    height: 200px;
    background-color: rgb(75, 74, 74);
    margin-top: 40px;
    padding: 20px 0;
    justify-content: flex-end;

    display: grid;
    grid-template-columns: 10vw repeat(4, 300px) 10vw;
    grid-template-rows: 150px;
    grid-template-areas: 
                        ". . foot1 foot2 foot3 .";

}

.foot1 {
    grid-area: foot1;
}

.foot2 {
    grid-area: foot2;
    margin-left: 40px;
}

.foot3 {
    grid-area: foot3;
    margin-left: 40px;
}

footer div {
    box-shadow: 2px 2px 3px #fff, -1px -1px #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #f5f5f5;
    font-family: "Helvetica";

    display: flex;
    justify-content: center;
    align-items: center;
}
